///////////////////
//               //
// GLOBAL'S SCSS //
//               //
///////////////////
* {
  box-sizing: border-box;
  outline: none;

  &:focus {
    outline: 2px solid $red;
  }
}

html,
body {
  @include normal-font;
  color: $text-color;
  font-size: $text-size;
  background: $bg-color;
}

main {
  padding: 10px 100px 30px;
}

a {
  text-decoration: none;
  color: $text-color;
}
