/////////////////////////////
//                         //
// GLOBAL'S VARIABLES SCSS //
//                         //
/////////////////////////////

// De couleurs // 

$white: #fff;
$black: #000;
$black-light: #312e2e;
$gray: #757575;
$gray-light: #fafafa;
$red: #901c1c;
$red-light: #db8876;
$orange: #d3573c;

// De texte //

$text-size: 18px;
$text-color: $black;
$bg-color: $white;
